.opener {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.tc-launcher-open-icon {
    display: flex;
}
.tc-launcher-open-icon.close {
    display: none;
}
.tc-launcher-close-icon {
    display: none;
}
.tc-launcher-close-icon.open {
    display: flex;
}
.tc-messenger {
    
}
.tc-messenger.open {
    width: 376px;
    display: flex;
    flex-direction: column;
}
.tc-messenger-header {
    height: 60px;
    background-color: #6e00dc;
}
.tc-answers{
    display: flex;
    flex-direction: column;
} 
.tc-messenger-suggestions {
    width: 376px;
    height: 400px;
    overflow-y: scroll;
}
.tc-ask-form {
    display: flex;
    flex-direction: column;
}

/* jquery ui */
.ui-widget.ui-widget-content {
    background: transparent;
    border: 0;
}

.ui-dialog .ui-dialog-content {
    background-color: #f9fafa !important;
    border-radius: 4px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    -ms-flex-pack: end;
    justify-content: flex-end;
    min-height: 200px;
    width: 100%;
    border: 0;
}