body {
    font: 16px/24px 'Open Sans';
}

.opener {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.tc-launcher-open-icon {
    display: flex;
}
.tc-launcher-open-icon.close {
    display: none;
}
.tc-launcher-close-icon {
    display: none;
}
.tc-launcher-close-icon.open {
    display: flex;
}
.tc-messenger {
    
}
.tc-messenger.open {
    width: 376px;
    display: flex;
    flex-direction: column;
}
.tc-messenger-header {
    height: auto;
    background-color: #725ead;
}

.tc-messenger-header ul {
    padding: 10px 20px 0 20px !important;
}

.tc-answers{
    display: flex;
    flex-direction: column;
} 
.tc-messenger-suggestions {
    overflow-y: scroll;
}
.tc-ask-form {
    display: flex;
    flex-direction: column;
}

/* jquery ui */
.ui-widget.ui-widget-content {
    background: transparent;
    border: 0;
    padding: 0 !important;
}

.ui-dialog .ui-dialog-content {
    background-color: #f9fafa !important;
    border-radius: 4px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: end;
    justify-content: initial;
    min-height: 200px;
    width: 100%;
    border: 0;
    padding: 0 !important;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0;
}

.ui-widget-header {
    border: 0;
    background: transparent;
    color: #333333;
    font-weight: bold;
}

.ui-dialog-titlebar .ui-state-default, 
.ui-dialog-titlebar .ui-widget-content .ui-state-default, 
.ui-dialog-titlebar .ui-widget-header .ui-state-default, 
.ui-dialog-titlebar .ui-button, 
html .ui-dialog-titlebar .ui-button.ui-state-disabled:hover, 
html .ui-dialog-titlebar .ui-button.ui-state-disabled:active {
    border: none;
    background: #ededed;
    font-weight: normal;
    border-radius: 20px;
    color: #fff;
    width: 25px;
    height: 25px;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
    background: rgba(57,73,86,0.5);
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-button:hover .ui-icon, .ui-button:focus .ui-icon {
    /*background-image: none !important;*/
}

.ui-dialog .ui-dialog-titlebar-close {
    margin: -15px 0 0 0;
}

.ui-button .ui-icon,
.ui-widget-header .ui-icon,
.ui-icon, 
.ui-widget-content .ui-icon {
    width: 15px;
}

.ui-icon-closethick::before {
    content: "x";
}

#tc-answers.ui-tabs-panel {
    padding: 0 !important;
}

#tc-messenger-suggestions {
    padding: 10px 20px;
    max-height: 375px;
}

#tc-messenger-suggestions .post-item a {
    color: #3197d6;
    text-decoration: none;
}

#tc-messenger-suggestions .post-item {
    margin: 20px 0;
}

#tc-messenger-suggestions .post-item h2 {
    font-size: 13px;
    font-weight: normal;
    line-height: 1.4;
    margin-bottom: 0;
}

#tc-messenger-suggestions .post-item p {
    font-size: 12px;
    color: #BFBDC0;
    line-height: 1.3;
    margin-top: 10px;
}

.ais-search-box {
    max-width: 100%;
    position: absolute;
    bottom: 0;
    height: auto;
    margin-top:3px;
}

.ais-search-box--input {
    webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font: inherit;
    background: #fff;
    display: inline-block;
    border: 0;
    border-radius: 0 !important;
    box-shadow: none !important;
    transition: none !important;
    padding: 15px 10px 15px 40px !important;
    vertical-align: middle;
    white-space: normal;
    height: 100%;
    width: 100%;
}

.ais-search-box--input::placeholder,
.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #bfbfbf;
}

.ais-search-box--loading-indicator-wrapper, .ais-search-box--magnifier {
    fill: #bfc7d8;
    left: 12px;
    top: calc(50% - 18px/2);
}

.btn-primary {
    background: #725ead;
    border: 0;
}

.btn-primary:hover {
    background: #60508e;
}

::placeholder {
    color: #000;
}

.ui-button-icon-only .ui-icon {
    position: absolute;
    top: 50%;
    left: 49%;
    margin-top: -8px;
    margin-left: -8px;
}

.form-group input,
.form-group textarea,
label {
    font-size: 14px;
    color: #777;
}

.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default, 
.ui-button, html .ui-button.ui-state-disabled:hover, 
html .ui-button.ui-state-disabled:active {
    border: 0;
    background: none;
    color: #fff !important;
    border-radius: 20px;
    border: 0 !important;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button {
    color: #fff;
}

.ui-tabs-active.ui-state-active {
    background: #5d4998;
}

button:focus {
    outline: none;
    outline-color: none;
    outline-style: none;
    outline-width: 0;
    outline: none;
    outline-color: none;
    outline-style: none;
    outline-width: 0;
}

.ui-state-active:focus {
    border: 0;
    outline-color: none;
    outline: none;

}

.arrow {
    width: 40px;
    height: 50px;
    float: left;
    display: block;
    margin-left: 5px;
    line-height: 45px;
    color: #fff !important;
    cursor: pointer;
}

.arrow path {
    fill: #ffffff;
}

.opener {
    cursor: pointer;
}

#homescreen .tc-messenger-suggestions,
#homescreen .tc-messenger {
    display: none;
}

#homescreen .container {
    padding: 20px;
}

#homescreen h1 {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px 0;
}

#homescreen ul {
    padding: 0 20px;
}

#homescreen li {
    margin: 10px 0;
    font-size: 13px;
    color: #999;
}

#homescreen a {
    color: #3197d6;
}

:focus {
    outline: none;
}

#homescreen hr {
    margin: 40px 0;
    display: block;
}

#homescreen p {
    font-size: 13px;
    margin-left: 10px;
}

#homescreen a {
    padding-left: 5px;
}